.title {
    color: rgb(255, 251, 0);
    font-family: 'Shrikhand', sans-serif;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;    
    font-size: 65px;
    margin: 0;
}
#title-sub {
    color: rgb(255, 251, 0);
    font-family: 'Shrikhand', sans-serif;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;    
    font-size: 25px;
    margin: 0;
}
#disclosure {
    color: rgb(255, 251, 0);
    text-align: center;
}

#playertitle, #computertitle {
    color: rgba(20, 163, 234, .7);
    text-decoration: underline;
    text-align: center;
    margin-top: 1.5vh;
    font-size: 2.5vh;
    text-align: center;
}

#game-screen1 {
    position: absolute;
    margin-top: 72vh;
    height: 50vh;
    width: 20vh;
    display: block;
    margin-left: -11vw;
}

#howtoplay, #howtoplay2 {
    display: none;
    border-radius: 2rem;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
}

.gameinfo {
    /* background-color: rgba(255, 255, 255, .65); */
    color: white;
    width: 50vw;
    height: 8vh;
    margin: 5px;
    text-align: left;
}
.gameinfo1 {
    /* background-color: rgba(255, 255, 255, .65); */
    color: white;
    width: 50vw;
    height: 7vh;
    text-align: center;
}
.gameinfo3 {
    /* background-color: rgba(255, 255, 255, .65); */
    color: white;
    width: 50vw;
    height: 8vh;
    margin: 5px;
    text-align: left;
}
.gameinfo2 {
    /* background-color: rgba(255, 255, 255, .65); */
    color: white;
    width: 50vw;
    height: 7.5vh;
    text-align: center;
}
#H2PTitle2 {
    color: white;
    width: 13vw;
    height: 5vh;
    margin-left: 25vh;
    border-radius: 2rem;
}
#H2PTitle {
    color: white;
    width: 13vw;
    height: 5vh;
    margin-left: 35vh;
    border-radius: 2rem;
}
#H2PTitle2 {
    color: white;
    width: 13vw;
    height: 5vh;
    margin-left: 19.3vw;
    border-radius: 2rem;
}

#HTPbtn:hover {
    background-color: rgba(0, 89, 255, 0.851);
}
#viewdeck:hover {
    background-color: rgba(217, 255, 0, 0.851);
}
#restartgame:hover {
    background-color: rgba(36, 214, 23, 0.851);

}
.btn:hover {
    cursor:pointer;
    background-color: rgba(255, 0, 0, 0.851);
}

#keepbtn:hover {
    background-color: rgba(0, 89, 255, 0.851);
}
#HTPbtn2:hover {
    background-color: rgba(217, 255, 0, 0.851);

}
#return2start:hover {
    background-color: rgba(36, 214, 23, 0.851);

}
.pointer:hover {
    cursor: pointer;
}
.btn {
    margin: 0;
    color:rgb(255, 251, 0);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.062);
    background-repeat:no-repeat;
    border: 5px solid black;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 20px;
    width: 8vw;
    height: 7.5vh;
    font-family: 'FredokaOne', sans-serif;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}
.menu {
    background-color: rgba(255, 255, 255, 0.65);
    width: 18vw;
    height: 10vh;
    letter-spacing: 10px;
    font-size: 35px;
    padding: 1vh;
    font-weight: bolder;
    margin: 2vh

}
#game-screen2 {
    border: 4px solid black;
    width: 80vw;
    height: 80vh;
    margin: 0;
    display: none;
    grid-template-columns: 15vw 15vw 20vw 15vw 15vw;
    grid-template-rows: 10vh 23vh 23vh 23vh;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.9);
}
#resultsbtn {
    display: none;
}
#game-screen3 {
    display: none;
    margin-top: 9vh;
    margin-left: 10vw;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 50vw;
    height: 67vh;
    border-radius: 15px;
}

.top1 {
    grid-column: 0 / 2;
}
.botL1 {
    grid-column: 0 / 2;
    grid-row: 2 / 3;
}
.botL2 {
    grid-column: 0 / 2;
    grid-row: 3 / 4;
}
.botL3 {
    grid-column: 0 / 2;
    grid-row: 4 / 5;
}
.top2 {
    grid-column: 5 / 6;
}
.botR1 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
.botR2 {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.botR3 {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}
.middle {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.MidL1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.MidL2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.MidL3 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.MidR1 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.MidR2 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.MidR3 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
.BotR3 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#turntracker {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-top: 2vh;
    font-size: 3vh;
}
body {
    background-image: url(https://c.tenor.com/ZKbmFsAkfoAAAAAC/ducks-dancingduck.gif);
    background-size: 100vw 100vh;
    color:white;
    font-family: 'Fredoka One', cursive;
    font-style: normal;
    font-size: 2vh;
    letter-spacing: 2.5px;
}

.cardstyle {
    border-radius: 10px;
}

audio {
    margin: 0;
    margin-left: 41vw
}

#PopUpCard {
    
    margin-top: -70vh;
    margin-left: 39vw;
    display: none;
}

#PopUpCardImg {
    display: inline-block;
    align-items: center;
    border-radius: 15px;
}

.return {
    background-color: black;
}
#howtoplay2 {
    display: none;
    margin-top: -80vh;
    margin-left: 25vw;
    width: 50vw;
    height: 79vh;
    background-color: black;
    z-index: 10;
}
.exith2p2 {
    text-align: center;
}

#postgameview {
    width: 500px;
    height: 800px;
    margin-left: 70vw;
    margin-top: -64vh;
    display: none;
}
#postgameviewimg {
    border-radius: 25px;
}
#P1PresentCard, #P1PastCard, #P1FutureCard, #P2PresentCard, #P2PastCard, #P2FutureCard {
    border-radius: 10px;
}

.cardsize {
    width: 150px;
    height: 200px;
}

#deckgallery {
    display: none;
}